html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: top;
  background-color: rgb(192,223,236);
  margin: 0;
}

.main {
  background-color: rgba(85, 85, 85, 0.466);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 50px);
  padding: 15vh 15px;
}
.header {
  margin-bottom: 0;
}

.clockbase {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: solid rgb(216,236,223) 25px;
    background-color: rgb(252, 255, 243);
    position: relative;
    display: block;
    flex-shrink: 0;   
}

.hours {
  display: block;
  width: 10px;
  height: auto;
  position: absolute;
  bottom: 50%;
  left: calc(50% - 5px);
  transform-origin: center bottom;
}
.minutes {
  display: block;
  width: 10px;
  height: auto;
  position: absolute;
  bottom: 50%;
  left: calc(50% - 5px);
  transform-origin: center bottom;
  z-index: 1;
}
.seconds {
  display: block;
  width: 10px;
  height: auto;
  position: absolute;
  bottom: 50%;
  left: calc(50% - 5px);
  transform-origin: center bottom;
  z-index: 2;
}
.center {
  position: absolute;

    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.637);
    position: absolute;
    bottom: calc(50% - 8px);
    left: calc(50% - 8px);
    z-index: 3;
}
.date {
  margin-top: 0;
}

.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  font-size: 12px;
}